<!DOCTYPE html>
<html lang="en">
  <!-- THE HEAD TAG PARTIAL -->
  <%- include("../partials/head") %>

  <body>
    <!-- THE HEADER TAG PARTIAL -->
    <%- include("../partials/header") %>
    <main>
      <h2 class="subtitle is-2">Project</h2>
      <a href="/projects">Back</a>

      <h3 class="title is-3"><%= project.name %></h3> <br>
      <p class="title is-3"> <%= project.description %> </p>

      <br>
        <a href="/projects/<%= project._id %>/edit">Edit</a> <br>

      <form action="/projects/<%= project._id %>?_method=delete" method="post">
        <input class="button" type="submit" value="Delete Project" />
      </form> <br><br>
      <div>
        <a href="/projects/<%= project._id %>/attachments">Attachments</a> <br>
        <a href="/projects/<%= project._id %>/message-boards">Message Boards</a> <br>
        <a href="/projects/<%= project._id %>/tasks">Tasks</a> <br>
  
      </div>
    
    
    </main>


  </body>
</html>
